body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(222, 222, 222, 0.2) ), url("./images/glitch2.jpg");
  /*background: linear-gradient( rgba(220, 222, 226, 0.3), rgba(35, 35, 35, 0.8) ), url('./images/glitch1.jpg');*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Poiret One', cursive;

}

h5{
  cursor: pointer;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: right;
  box-shadow: 0 10px 10px 1px black;

}

.header-link {
  margin: 20px;
  padding: 2px;
  border: 2px solid grey;
  border-radius: 10px;
}

#header-logo {
  /*border-radius: 100%;*/
  float: left;
  margin: 10px 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topnav {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 200px;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

}

#introduction {
  background-image: url('./images/airport-light.jpg');
  background: cover;
  width: 90%;
  margin: 60px 0 30px 0;
  height:400px;
  text-align: center;
  /*height: 100vh;*/
}

#intro-text {
  background-color: red;
}

p {
  /*background: linear-gradient(rgba(96, 96, 96, 0.5), rgba(237, 237, 237, 1));*/
  background: rgba(96, 96, 96, 0.8);
  width: 75%;
  font-size: 40px;
  margin: 60px 20px 50px 45px;
  color: white;
  padding: 10px;
  border: 4px solid black;
  text-align: center;
}

/*animation-duration: 3s;
  animation-name: slidein;*/

/*@keyframes slidein {
  from {
    margin-bottom: 100%;
    height: 300%;
  }

  to {
    margin-bottom: 0%;
    height: 100%;
  }
}*/

.nav-buttons {
  margin: 30px;
  font-size: 50px;
  height: 60px;
  font-family: 'Poiret One', cursive;
  background-color: black;
  box-shadow: 0 0 5px 5px white;
  border: 3px solid #3a3a3a;
}

li {
  display: inline;
  text-align: center;
}

.eachPageDiv {
  height: 550px;
  width: 90%;
  background-repeat: no-repeat;
  border: 5px solid grey;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px 9px;
}

#page-1 {
  background-image: url('./images/airport3.jpg');
  background-size: cover;
}

#artists {
  background-image: url('./images/airport6.jpg');
  background-size: cover;
}

#releases {
  background-color: rgb(48, 46, 46);
  height: 650px;
  margin: 20px;
}

button {
  line-height: 22px;
}

li {
  list-style: none;
}

iframe{
  position: absolute;
  left: 0;
  margin: 0 auto;
  width: 80%;
  right: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #383838;

}

.none {
  display: none;
}

.rmvbtn {
  margin: 5px 5px;
  border: 10px solid red;
  position: absolute;
  cursor: pointer;
}
