body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(222, 222, 222, 0.2) ), url("./images/glitch2.jpg");
  /*background: linear-gradient( rgba(220, 222, 226, 0.3), rgba(35, 35, 35, 0.8) ), url('./images/glitch1.jpg');*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Varela Round', sans-serif;

}

h5{
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Varela Round', sans-serif;
  background-color: rgba(200, 227, 255, 1);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 5px 5px white;
  /*border: 2px solid white;*/
  font-family: 'Varela Round', sans-serif;
}



header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: right;
  box-shadow: 0 10px 10px 1px black;
  margin-bottom: 10px;


}

.header-link {
  margin: 25px 20px 20px 20px;
  border-radius: 10px;
  display: inline-block;
}

#header-logo {
  border-radius: 100%;
  float: left;
  margin-top: 20px;
  /*margin: 10px 20px;*/
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topnav {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 200px;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

}

#introduction {
  background: url('./images/airport2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  margin: 30px 0px 0 30px 0;
  text-align: center;
  min-height: 100vh;
  box-shadow: 0 5px 15px 5px white;
}

@media all and ( max-width: 600px ) {
  #introduction {
    background: url('./images/logo-full.jpg');
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px white;
  }
}

#intro-text {
  background-color: red;
}

p {
  background-color: #4B74C6;
  width: 75%;
  font-size: 30px;
  margin: 210px 20px 50px 45px;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px 5px white;
  border-radius: 10px;
}


.nav-buttons {
  font-family: 'Varela Round', sans-serif;
  color: white;
  margin: 30px;
  font-size: 50px;
  height: 60px;
  background-color: #4B74C6;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px white;
}

li {
  display: inline;
  text-align: center;
  color: white;
}

.eachPageDiv {
  min-height: 550px;
  width: 95%;
  background-repeat: no-repeat;
  border: 5px solid grey;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px 9px;
}

#page-1 {
  background-image: url('./images/airport3.jpg');
  background-size: cover;
}

#artists {
  background: linear-gradient( 90deg, #4B74C6, rgba(181, 227, 255, 1));
  margin-top: 20px;
}

#releases {
  background: linear-gradient( 90deg, rgba(181, 227, 255, 1), #4B74C6);
  margin: 20px;
}

button {
  line-height: 22px;
}

li {
  list-style: none;
}

iframe{
  position: absolute;
  left: 0;
  margin: 0 auto;
  width: 80%;
  right: 0;
}

a {
  text-decoration: none;
  color: white;
}

.release-iframe {

}
.none {
  display: none;
}

.rmvbtn {
  margin: 10px 20px;
  padding: 10px;
  /*border: 5px solid grey;*/
  position: relative;
  cursor: pointer;
  font-size: 24px;
  background: linear-gradient(rgb(76, 189, 255), rgb(150, 150, 150));
  box-shadow: 0 0 10px 5px black;
}

.music-space {
  width: 95%;
  background-repeat: no-repeat;
  border: 5px solid grey;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px 9px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.artist-plays {
  margin: 20px;
}

.artist-pics {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 2px 5px white;
  display: inline-block;
}

.release-iframe {
  position: relative;
  margin: 20px;
  margin-left: 50px;
  display: inline-block;
  border: 10px solid grey;
  border-radius: 10px;
  box-shadow: 0 0 2px 5px white;
}

.go-back-link {
  color: white;
}


