body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(222, 222, 222, 0.2) ), url("./images/glitch2.jpg");
  /*background: linear-gradient( rgba(220, 222, 226, 0.3), rgba(35, 35, 35, 0.8) ), url('./images/glitch1.jpg');*/
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Varela Round', sans-serif;

}

h5{
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Varela Round', sans-serif;
  background-color: white;
  text-align: center;
  border: 2px solid black;
  font-family: 'Varela Round', sans-serif;
}



header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: black;
  color: white;
  text-align: right;
  box-shadow: 0 10px 10px 1px black;


}

.header-link {
  margin: 25px 20px 20px 20px;
  padding: 2px;
  border-radius: 10px;
  display: inline-block;
}

#header-logo {
  border-radius: 100%;
  float: left;
  margin-top: 20px;
  /*margin: 10px 20px;*/
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topnav {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  height: 200px;
  border: 5px solid red;
  display: flex;
  justify-content: center;
  align-items: center;

}

#introduction {
  width: 90%;
  margin: 60px 0 30px 0;
  text-align: center;
  min-height: 100vh;
}

#intro-text {
  background-color: red;
}

p {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url('./images/airport-light.jpg');
  background-size: cover;
  width: 75%;
  font-size: 40px;
  margin: 60px 20px 50px 45px;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px 5px white;
  border-radius: 10px;
  /*filter: blur(20px);*/
}

/*animation-duration: 3s;
  animation-name: slidein;*/

/*@keyframes slidein {
  from {
    margin-bottom: 100%;
    height: 300%;
  }

  to {
    margin-bottom: 0%;
    height: 100%;
  }
}*/

.nav-buttons {
  font-family: 'Varela Round', sans-serif;
  color: white;
  margin: 30px;
  font-size: 50px;
  height: 60px;
  background-color: black;
  background: url('./images/airport-light.jpg');
  border-radius: 10px;
  box-shadow: 0 0 5px 2px white;
  /*border: 3px solid #3a3a3a;*/
}

li {
  display: inline;
  text-align: center;
  color: white;
}

.eachPageDiv {
  min-height: 550px;
  width: 90%;
  background-repeat: no-repeat;
  border: 5px solid grey;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px 9px;
}

#page-1 {
  background-image: url('./images/airport3.jpg');
  background-size: cover;
}

#artists {
  background-image: url('./images/logo-glitch.jpg');
  background-size: cover;
  margin-top: 20px;
}

#releases {
  background-color: rgb(48, 46, 46);
  margin: 20px;

}

button {
  line-height: 22px;
}

li {
  list-style: none;
}

iframe{
  position: absolute;
  left: 0;
  margin: 0 auto;
  width: 80%;
  right: 0;
}

a {
  text-decoration: none;
  color: white;

}

.none {
  display: none;
}

.rmvbtn {
  margin: 10px 20px;
  padding: 10px;
  /*border: 5px solid grey;*/
  position: relative;
  cursor: pointer;
  font-size: 24px;
  background: linear-gradient(rgb(76, 189, 255), rgb(150, 150, 150));
  box-shadow: 0 0 10px 5px black;
}

.music-space {
  /*min-height: 1200px;*/
  width: 90%;
  background-repeat: no-repeat;
  border: 5px solid grey;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 0 10px 9px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.artist-plays {
  margin: 20px;
}

.artist-pics {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 2px 5px white;
  display: inline-block;
}

.release-iframe {
  position: relative;
  margin: 20px;
  display: inline-block;
}

.go-back-button {
  color: black;
}

.go-back-link {
  color: black;
}
